body, h1, #score, #round, .scoreboard, .visible, .options, .players  {
    display: flex;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background-color: black;
    font-family: 'Bruno Ace SC', sans-serif;
}

.scoreboard {
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#round {
    width: 600px;
    height: auto;
    align-items: center;
    justify-content: center;
}

#score {
    flex-direction: column;
    width: 600px;
    height: 425px;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

#scorecard {
    width: 600;
    margin-bottom: 15px;
}

.players {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 25px;
}

#player, #computer, #player-score, #computer-score {
    display: inherit;
    width: 300px;
    height: 100%;
    align-items: flex-start;
}

.p-color {
    color: white;
    text-shadow: 5px 5px 7px blue, -5px -5px 7px blue, 5px -5px 7px blue, -5px 5px 7px blue;
}

.c-color {
    color:white;
    text-shadow: 5px 5px 7px red, -5px -5px 7px red, 5px -5px 7px red, -5px 5px 7px red;
}

#player-score, #computer-score {
    font-size: 5rem;
}

.visible {
    flex-direction: column;
    align-items: center;
    width: 425px;
    height: 425px;
    color: white;
    justify-content: center;
}

.visible img {
    width: 325px;
    height: 325px;
    border-radius: 15px;
}

.visible h2 {
    color: bl;
}

span {
    font-size: large;
    font-weight: bold;
    justify-content: center;
}

.options {
    width: 800px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

h1 {

    align-items: flex-end;
    justify-content: center;
    font-size:xx-large;
    font-weight: bolder;
    color: white;
    margin-top: 11.440px;
    margin-bottom: 10px;
}

h2 {
    width: auto;
    height: auto;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
}

.buttons {
    width: 200px;
    height: 200px;
    flex: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 175px;
    padding-left: 100px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.buttons:hover {
    opacity: 0.85;
    color: black;
    border: 2px solid blue;
    box-shadow: 0 0 5rem blue, inset 0 0 1rem blue;
    font-size: larger;
    font-weight: bolder;
}

#start {
    width: 200px;
    height: 200px;
    flex: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 42px;
    font-weight: bolder;
    color: white;
    background-color: black;
    padding-top: 0px;
    padding-left: 0px;
}

#start:hover {
    opacity: 0.85;
    color: black;
    background-color: white;
    border: 2px solid blue;
    box-shadow: 0 0 5rem blue, inset 0 0 1rem blue;
    font-size: 52px;
    font-weight: bolder;
}

#rock, #paper, #scissors {
    background-size: 200px;
}

#rock {
    background-image: url('images/rock-dark.png');
}

#rock:hover {
    background-image: url('images/rock.png');
}

#paper {
    background-image: url('images/paper-dark.png');
}

#paper:hover {
    background-image: url('images/paper.png');
}

#scissors {
    background-image: url('images/scissors-dark.png');
}

#scissors:hover {
    background-image: url('images/scissors.png');
}
